<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
</head>
<body class="container">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<% include nav%>

<div class="album py-5 bg-light">

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm">
          <img style="width: 412px; height: 250px" src="https://haiermobile.vn/hinh-nen-3d-may-tinh/imager_4614.jpg">
          <div style="margin-left: 10px" class="card-body">
            <p class="card-text">Ảnh nền siêu xe 3D</p>
            <p class="card-text">Source: vanPhoto</p>
            <p class="card-text">Date: 2002-10-21</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Tải về</button>
              </div>
              <small class="text-muted">HD | 4K</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img style="width: 412px; height: 250px" src="https://img4.thuthuatphanmem.vn/uploads/2020/10/30/hinh-nen-sieu-xe-dep_031811575.jpg">
          <div style="margin-left: 10px" class="card-body">
            <p class="card-text">Ảnh nền siêu xe 3D</p>
            <p class="card-text">Source: vanPhoto</p>
            <p class="card-text">Date: 2002-10-21</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Tải về</button>
              </div>
              <small class="text-muted">HD | 4K</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img style="width: 412px; height: 250px" src="https://thuviensachmoi.files.wordpress.com/2019/03/777aa-hinh-nen-sieu-xe-3d-cho-may-tinh_111411685.jpg">
          <div style="margin-left: 10px" class="card-body">
            <p class="card-text">Ảnh nền siêu xe 3D</p>
            <p class="card-text">Source: vanPhoto</p>
            <p class="card-text">Date: 2002-10-21</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Tải về</button>
              </div>
              <small class="text-muted">HD | 4K</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img style="width: 412px; height: 250px" src="https://img3.thuthuatphanmem.vn/uploads/2019/07/05/hinh-anh-3d-sieu-xe_083004315.jpg ">
          <div style="margin-left: 10px" class="card-body">
            <p class="card-text">Ảnh nền siêu xe 3D</p>
            <p class="card-text">Source: vanPhoto</p>
            <p class="card-text">Date: 2002-10-21</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Tải về</button>
              </div>
              <small class="text-muted">HD | 4K</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img style="width: 412px; height: 250px" src="http://3.bp.blogspot.com/-EJJ5azUYWpo/VbZsTsBhWNI/AAAAAAAAEhk/SAmJzItojJw/s1600/hinh-nen-3d-sieu-xe-13.jpg">
          <div style="margin-left: 10px" class="card-body">
            <p class="card-text">Ảnh nền siêu xe 3D</p>
            <p class="card-text">Source: vanPhoto</p>
            <p class="card-text">Date: 2002-10-21</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Tải về</button>
              </div>
              <small class="text-muted">HD | 4K</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img style="width: 412px; height: 250px" src="https://thuviensachmoi.files.wordpress.com/2019/03/a1682-hinh-nen-3d-oto-boc-chay.jpg">
          <div style="margin-left: 10px" class="card-body">
            <p class="card-text">Ảnh nền siêu xe 3D</p>
            <p class="card-text">Source: vanPhoto</p>
            <p class="card-text">Date: 2002-10-21</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Tải về</button>
              </div>
              <small class="text-muted">HD | 4K</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img style="width: 412px; height: 250px" src="https://thuviensachmoi.files.wordpress.com/2019/03/3bdcd-1212011164048372.jpg">
          <div style="margin-left: 10px" class="card-body">
            <p class="card-text">Ảnh nền siêu xe 3D</p>
            <p class="card-text">Source: vanPhoto</p>
            <p class="card-text">Date: 2002-10-21</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Tải về</button>
              </div>
              <small class="text-muted">HD | 4K</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img style="width: 412px; height: 250px" src="https://i.pinimg.com/originals/3f/02/bb/3f02bb40c44a2ec906f7ace158eb7653.jpg">
          <div style="margin-left: 10px" class="card-body">
            <p class="card-text">Ảnh nền siêu xe 3D</p>
            <p class="card-text">Source: vanPhoto</p>
            <p class="card-text">Date: 2002-10-21</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Tải về</button>
              </div>
              <small class="text-muted">HD | 4K</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img style="width: 412px; height: 250px" src="https://cand.com.vn/Files/Image/hientk/2019/07/06/thumb_660_9c5ae940-c90d-4130-9c90-91c9751f1366.jpeg">
          <div style="margin-left: 10px" class="card-body">
            <p class="card-text">Ảnh nền siêu xe 3D</p>
            <p class="card-text">Source: vanPhoto</p>
            <p class="card-text">Date: 2002-10-21</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Xem</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Tải về</button>
              </div>
              <small class="text-muted">HD | 4K</small>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>




</body>
</html>
